/*Centrerar texten samt setter en almän fontfamly*/
body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
/*Endrar textstoleken om stoleken på skärmen är mindre en 600px samt bilderna som är påverkade av 
content-container flyttas till sidan och stoleken tar 80% width */
@media (max-width: 600px) {
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    p{
        font-size: 12px;
    }
    .content-container {
        flex-direction: column;
        text-align: center;
    }
    .content-container img {
        max-width: 80%; 
    }
  }
  /*Endrar stoleken på de olika texterna om skermens stolik är mindre en 300px samt tar bort bilderna som påverkas av content-container */
@media (max-width:300px){
    h1{
        font-size: 18px;
    }
    h2, h3{
        font-size: 12px;
    }
    p{
        font-size: 10px;
    }
    .content-container img {
        display: none;
    }
}
/*En container för inneholl, anvender flexbox för att plasera objekt hjämte varander
aline itemt för att centrera dem vertikalt.*/
.content-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
/*gjör att texten tar så mycket plats som möjligt.*/
.text-content {
    flex: 1; 
}
/*Bild instelningarna inom content-container. begränsar dess stolek och bibeholler sina proportioner samt mjuk övergong.*/
.content-container img {
    max-width: 40%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}
/*Allmän still för en knapp*/
button {
    display: block;
    margin: 10px auto;
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    cursor: pointer;
    background-color: plum; 
    border: none;
    border-radius: 3%;
}
/*Spesifik stil för knapp*/
.change-bg-btn {
    padding: 5%;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    background-color: rgb(74, 96, 122);
    color: burlywood;
    border: none;
    border-radius: 3%;
}

.change-bg-btn:hover {
    background-color: rgb(6, 50, 104)
}